#navbar a:link {
    color: white;
  }
  
  #navbar a:visited {
    color: white;
  }
  
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #145079;
    background-color: #145079;
  }
  
  .floatingOver {
    z-index: 1000;
    background-color: white;
    position: absolute;
    height: 90px;
    right: 50px;
    bottom: 20px;
  }
  
  .btn {
    border-radius: 0;
    border-color: #14517900;
  }
  
  #quickConnectButton {
    height: 45px;
    margin-top: 22.5px;
    border-radius: 0;
    float: right;
    background-color: #145079;
  }


.centerContext{
  text-align: center;
}
.menu {
  width: 120px;
  z-index: 1;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  display: none;
  transition: 0.2s display ease-in;
}

.menu-options {
  list-style: none;
  padding: 0;
  z-index: 1;
  margin:0;
}
.menu-option {
  font-weight: 500;
  z-index: 1;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}
.menu-option:hover {
  background: rgba(0, 0, 0, 0.2);
}


  
  
  
  
  
  
  
  